#Files to ignore
*.class
RemoteSystemsTempFiles/
Servers/
source/SlamBook/build/
.metadata/
.recommenders/
.bak
source/SlamBook/.settings/
source/SlamBook/.classpath
source/SlamBook/.settings/.jsdtscope
source/SlamBook/.settings/org.eclipse.wst.common.component
source/SlamBook/.settings/org.eclipse.wst.common.project.facet.core.xml
