<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
<br>
Dear Recipient,
<p>
We have received your request for reset password.
<br>
To reset, please click the link below:
<br><a href="http://localhost:8080/SlamBook/resetPassword">http://localhost:8080/SlamBook/resetPassword</a>
<br>
This link is valid for two hours from your request initiation for password recovery.
</p>
Regards,<br>
SlamBook Team
<p>Note: This is a system generated e-mail, please do not reply to it.</p>
*** This message is intended only for the person or entity to which it is addressed and may contain confidential and/or privileged information.
<br>If you have received this message in error, please notify the sender immediately and delete this message from your system ***
</body>
</html>
